body {
  background: #8695a8;
}

.card-item {
  height: 80vh;
  width: 25%;
  background-color: #ccd7e3;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
  text-align: center;
  display: inline-block;
  padding: 0 15px;
  position: relative;
  margin: 0 12px;
  color: dimgray;
}

.card-content {
  margin-top: 50%;
}

.card-item img {
  width: 140px;
  height: 140px;
  border-radius: 500px;
  margin-bottom: 30px;
}

.breadCrumb {
  width: 4px;
  height: 4px;
  border-radius: 500px;
  background-color: gray;
  display: inline-block;
  margin: 2px;
  bottom: 21px;
}

.breadCrumb-selected {
  background-color: royalblue;
}
